#recipe-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#recipe-details img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#recipe-details ul, #recipe-details ol {
    padding-left: 20px;
}

#recipe-details h3 {
    margin-top: 20px;
}
